:root {
  --md-source: #4B3A61;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #180035;
  --md-ref-palette-primary5: #1b003b;
  --md-ref-palette-primary6: #1e0041;
  --md-ref-palette-primary10: #290054;
  --md-ref-palette-primary12: #2e025c;
  --md-ref-palette-primary17: #391367;
  --md-ref-palette-primary20: #401b6d;
  --md-ref-palette-primary22: #452072;
  --md-ref-palette-primary24: #492577;
  --md-ref-palette-primary25: #4c2879;
  --md-ref-palette-primary30: #583486;
  --md-ref-palette-primary35: #644092;
  --md-ref-palette-primary40: #704d9f;
  --md-ref-palette-primary50: #8a66ba;
  --md-ref-palette-primary60: #a57fd6;
  --md-ref-palette-primary70: #c19af3;
  --md-ref-palette-primary80: #d8b9ff;
  --md-ref-palette-primary87: #e7d1ff;
  --md-ref-palette-primary90: #eedcff;
  --md-ref-palette-primary92: #f2e2ff;
  --md-ref-palette-primary94: #f6e9ff;
  --md-ref-palette-primary95: #f8edff;
  --md-ref-palette-primary96: #faf0ff;
  --md-ref-palette-primary98: #fff7ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #120b1c;
  --md-ref-palette-secondary5: #150d1f;
  --md-ref-palette-secondary6: #171021;
  --md-ref-palette-secondary10: #20182a;
  --md-ref-palette-secondary12: #241c2e;
  --md-ref-palette-secondary17: #2f2639;
  --md-ref-palette-secondary20: #352d40;
  --md-ref-palette-secondary22: #3a3144;
  --md-ref-palette-secondary24: #3e3549;
  --md-ref-palette-secondary25: #41384b;
  --md-ref-palette-secondary30: #4c4357;
  --md-ref-palette-secondary35: #584e63;
  --md-ref-palette-secondary40: #645a6f;
  --md-ref-palette-secondary50: #7e7389;
  --md-ref-palette-secondary60: #988ca3;
  --md-ref-palette-secondary70: #b3a6be;
  --md-ref-palette-secondary80: #cfc2da;
  --md-ref-palette-secondary87: #e3d5ee;
  --md-ref-palette-secondary90: #ebddf7;
  --md-ref-palette-secondary92: #f1e3fd;
  --md-ref-palette-secondary94: #f6e9ff;
  --md-ref-palette-secondary95: #f8edff;
  --md-ref-palette-secondary96: #faf0ff;
  --md-ref-palette-secondary98: #fff7ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #21040b;
  --md-ref-palette-tertiary5: #25060e;
  --md-ref-palette-tertiary6: #280810;
  --md-ref-palette-tertiary10: #321018;
  --md-ref-palette-tertiary12: #37141c;
  --md-ref-palette-tertiary17: #431f27;
  --md-ref-palette-tertiary20: #4b252d;
  --md-ref-palette-tertiary22: #502931;
  --md-ref-palette-tertiary24: #552d35;
  --md-ref-palette-tertiary25: #582f38;
  --md-ref-palette-tertiary30: #653b43;
  --md-ref-palette-tertiary35: #72464e;
  --md-ref-palette-tertiary40: #80525a;
  --md-ref-palette-tertiary50: #9b6a72;
  --md-ref-palette-tertiary60: #b7838c;
  --md-ref-palette-tertiary70: #d49da6;
  --md-ref-palette-tertiary80: #f2b7c1;
  --md-ref-palette-tertiary87: #ffced5;
  --md-ref-palette-tertiary90: #ffd9de;
  --md-ref-palette-tertiary92: #ffe1e5;
  --md-ref-palette-tertiary94: #ffe9eb;
  --md-ref-palette-tertiary95: #ffecee;
  --md-ref-palette-tertiary96: #fff0f1;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0f0d11;
  --md-ref-palette-neutral5: #121014;
  --md-ref-palette-neutral6: #151316;
  --md-ref-palette-neutral10: #1d1b1e;
  --md-ref-palette-neutral12: #211f22;
  --md-ref-palette-neutral17: #2b292d;
  --md-ref-palette-neutral20: #322f33;
  --md-ref-palette-neutral22: #363438;
  --md-ref-palette-neutral24: #3b383c;
  --md-ref-palette-neutral25: #3d3a3e;
  --md-ref-palette-neutral30: #49464a;
  --md-ref-palette-neutral35: #555155;
  --md-ref-palette-neutral40: #615d61;
  --md-ref-palette-neutral50: #7a767a;
  --md-ref-palette-neutral60: #948f94;
  --md-ref-palette-neutral70: #afaaae;
  --md-ref-palette-neutral80: #cac5c9;
  --md-ref-palette-neutral87: #ded8dd;
  --md-ref-palette-neutral90: #e7e1e5;
  --md-ref-palette-neutral92: #ece6eb;
  --md-ref-palette-neutral94: #f2ecf1;
  --md-ref-palette-neutral95: #f5eff4;
  --md-ref-palette-neutral96: #f8f2f7;
  --md-ref-palette-neutral98: #fef7fc;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #100d14;
  --md-ref-palette-neutral-variant5: #130f17;
  --md-ref-palette-neutral-variant6: #151219;
  --md-ref-palette-neutral-variant10: #1e1a22;
  --md-ref-palette-neutral-variant12: #221e26;
  --md-ref-palette-neutral-variant17: #2c2831;
  --md-ref-palette-neutral-variant20: #332f37;
  --md-ref-palette-neutral-variant22: #37333c;
  --md-ref-palette-neutral-variant24: #3c3740;
  --md-ref-palette-neutral-variant25: #3e3a42;
  --md-ref-palette-neutral-variant30: #4a454e;
  --md-ref-palette-neutral-variant35: #56505a;
  --md-ref-palette-neutral-variant40: #625c66;
  --md-ref-palette-neutral-variant50: #7b757f;
  --md-ref-palette-neutral-variant60: #958e99;
  --md-ref-palette-neutral-variant70: #b0a9b3;
  --md-ref-palette-neutral-variant80: #ccc4cf;
  --md-ref-palette-neutral-variant87: #e0d7e2;
  --md-ref-palette-neutral-variant90: #e8e0eb;
  --md-ref-palette-neutral-variant92: #eee5f1;
  --md-ref-palette-neutral-variant94: #f4ebf6;
  --md-ref-palette-neutral-variant95: #f7eef9;
  --md-ref-palette-neutral-variant96: #faf1fc;
  --md-ref-palette-neutral-variant98: #fff7ff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #704d9f;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #eedcff;
  --md-sys-color-on-primary-container-light: #290054;
  --md-sys-color-primary-fixed-light: #eedcff;
  --md-sys-color-on-primary-fixed-light: #290054;
  --md-sys-color-primary-fixed-dim-light: #d8b9ff;
  --md-sys-color-on-primary-fixed-variant-light: #583486;
  --md-sys-color-secondary-light: #645a6f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ebddf7;
  --md-sys-color-on-secondary-container-light: #20182a;
  --md-sys-color-secondary-fixed-light: #ebddf7;
  --md-sys-color-on-secondary-fixed-light: #20182a;
  --md-sys-color-secondary-fixed-dim-light: #cfc2da;
  --md-sys-color-on-secondary-fixed-variant-light: #4c4357;
  --md-sys-color-tertiary-light: #80525a;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd9de;
  --md-sys-color-on-tertiary-container-light: #321018;
  --md-sys-color-tertiary-fixed-light: #ffd9de;
  --md-sys-color-on-tertiary-fixed-light: #321018;
  --md-sys-color-tertiary-fixed-dim-light: #f2b7c1;
  --md-sys-color-on-tertiary-fixed-variant-light: #653b43;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1b1e;
  --md-sys-color-outline-light: #7b757f;
  --md-sys-color-inverse-on-surface-light: #f5eff4;
  --md-sys-color-inverse-surface-light: #322f33;
  --md-sys-color-inverse-primary-light: #d8b9ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #704d9f;
  --md-sys-color-outline-variant-light: #ccc4cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fef7fc;
  --md-sys-color-on-surface-light: #1d1b1e;
  --md-sys-color-surface-variant-light: #e8e0eb;
  --md-sys-color-on-surface-variant-light: #4a454e;
  --md-sys-color-surface-container-highest-light: #e7e1e5;
  --md-sys-color-surface-container-high-light: #ece6eb;
  --md-sys-color-surface-container-light: #f2ecf1;
  --md-sys-color-surface-container-low-light: #f8f2f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #ded8dd;
  --md-sys-color-surface-bright-light: #fef7fc;
  /* dark */
  --md-sys-color-primary-dark: #d8b9ff;
  --md-sys-color-on-primary-dark: #401b6d;
  --md-sys-color-primary-container-dark: #583486;
  --md-sys-color-on-primary-container-dark: #eedcff;
  --md-sys-color-primary-fixed-dark: #eedcff;
  --md-sys-color-on-primary-fixed-dark: #290054;
  --md-sys-color-primary-fixed-dim-dark: #d8b9ff;
  --md-sys-color-on-primary-fixed-variant-dark: #583486;
  --md-sys-color-secondary-dark: #cfc2da;
  --md-sys-color-on-secondary-dark: #352d40;
  --md-sys-color-secondary-container-dark: #4c4357;
  --md-sys-color-on-secondary-container-dark: #ebddf7;
  --md-sys-color-secondary-fixed-dark: #ebddf7;
  --md-sys-color-on-secondary-fixed-dark: #20182a;
  --md-sys-color-secondary-fixed-dim-dark: #cfc2da;
  --md-sys-color-on-secondary-fixed-variant-dark: #4c4357;
  --md-sys-color-tertiary-dark: #f2b7c1;
  --md-sys-color-on-tertiary-dark: #4b252d;
  --md-sys-color-tertiary-container-dark: #653b43;
  --md-sys-color-on-tertiary-container-dark: #ffd9de;
  --md-sys-color-tertiary-fixed-dark: #ffd9de;
  --md-sys-color-on-tertiary-fixed-dark: #321018;
  --md-sys-color-tertiary-fixed-dim-dark: #f2b7c1;
  --md-sys-color-on-tertiary-fixed-variant-dark: #653b43;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1d1b1e;
  --md-sys-color-on-background-dark: #e7e1e5;
  --md-sys-color-outline-dark: #958e99;
  --md-sys-color-inverse-on-surface-dark: #1d1b1e;
  --md-sys-color-inverse-surface-dark: #e7e1e5;
  --md-sys-color-inverse-primary-dark: #704d9f;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #d8b9ff;
  --md-sys-color-outline-variant-dark: #4a454e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #151316;
  --md-sys-color-on-surface-dark: #cac5c9;
  --md-sys-color-surface-variant-dark: #4a454e;
  --md-sys-color-on-surface-variant-dark: #ccc4cf;
  --md-sys-color-surface-container-highest-dark: #363438;
  --md-sys-color-surface-container-high-dark: #2b292d;
  --md-sys-color-surface-container-dark: #211f22;
  --md-sys-color-surface-container-low-dark: #1d1b1e;
  --md-sys-color-surface-container-lowest-dark: #0f0d11;
  --md-sys-color-surface-dim-dark: #151316;
  --md-sys-color-surface-bright-dark: #3b383c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
